**FEATURE ENGINEERING**

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt 

sales_df = pd.read_csv("./data/Warehouse_and_Retail_Sales.csv")

sales_df['TOTAL_SALES'] = sales_df['RETAIL SALES'] * sales_df['WAREHOUSE SALES']


high_value_sales_df = sales_df[sales_df['TOTAL_SALES'] > 100] 

high_value_sales_df.head(100) 


# make a new total sales.

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,TOTAL_SALES
5230,2017,5,STE MICHELLE WINE ESTATES,101974,CH ST MICH P/GRIS - 750ML,WINE,12.38,12.00,13.00,160.9400
5248,2017,5,ALLAGASH BREWING COMPANY,10271,ALLAGASH SAISON 6/4 NR 12.0Z,BEER,8.08,7.00,13.00,105.0400
5278,2017,5,JACKSON FAMILY ENTERPRISES INC,10413,MURPHY GOODE CHARD - 750ML,WINE,22.07,18.00,39.00,860.7300
5280,2017,5,BUCK DISTRIBUTING COMPANY INC,10430,STONE IPA 4/6 NR - 12OZ,BEER,52.75,61.00,154.00,8123.5000
5282,2017,5,KATCEF BROTHERS INC,10431,VICTORY GOLDEN MONKEY 4/6NR - 12OZ,BEER,19.79,18.00,121.00,2394.5900
...,...,...,...,...,...,...,...,...,...,...
6658,2017,5,REPUBLIC NATIONAL DISTRIBUTING CO,22616,CASARSA P/GRIG P/BLC - 1.5L,WINE,9.44,8.83,17.00,160.4800
6661,2017,5,THE BROOKLYN BREWERY CORPORATION,22633,BROOKLYN SUMMER ALE 4/6 NR - 12OZ,BEER,2.75,7.00,46.75,128.5625
6663,2017,5,GLOBAL OCEAN AND AIR CARGO SERVICES,22647,ST GEORGE BEER ETHIOPIA 4/6 NR - 330ML,BEER,6.15,1.00,42.00,258.3000
6667,2017,5,THE WINE GROUP,22691,CORBETT CANYON P/GRIG - 3L,WINE,28.18,37.00,22.00,619.9600
6683,2017,5,ANHEUSER BUSCH INC,22904,WILD BLUE BLUEBERRY LAGER 4/6 NR - 12OZ,BEER,21.00,24.00,122.00,2562.0000

In [12]:
import pandas as pd 
import matplotlib.pyplot as plt
sales_df = pd.read_csv("./data/Warehouse_and_Retail_Sales.csv")

sales_df['Retail_to_Warehouse_Ratio'] = sales_df['RETAIL SALES'] / sales_df['WAREHOUSE SALES']


ratio_of_retailsales_wareousesales = sales_df[sales_df['Retail_to_Warehouse_Ratio'] > .0] 

ratio_of_retailsales_wareousesales.head(100) 


# make a new total sales
#Retail_to_Warehouse_Ratio = RETAIL SALES / WAREHOUSE SALES

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,Retail_to_Warehouse_Ratio
2913,2017,10,Default,59978,STORE SPECIAL BEER QUART,REF,0.25,0.0,0.0,inf
5207,2017,5,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.32,0.0,0.0,inf
5209,2017,5,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.66,0.0,6.0,0.110
5212,2017,5,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.41,0.0,0.0,inf
5213,2017,5,REPUBLIC NATIONAL DISTRIBUTING CO,100803,CYT XPLORADOR CHARD - 750ML,WINE,0.16,0.0,5.0,0.032
...,...,...,...,...,...,...,...,...,...,...
5344,2017,5,OPICI FAMILY DISTRIBUTING OF MD,10676,BRINLEY GOLD SHIPWRECK COCONUT RUM - 750ML,LIQUOR,1.17,0.0,0.0,inf
5345,2017,5,OPICI FAMILY DISTRIBUTING OF MD,10677,BRINLEY GOLD SHIPWRECK VANILLA RUM - 750ML,LIQUOR,1.17,1.0,0.0,inf
5346,2017,5,OPICI FAMILY DISTRIBUTING OF MD,10678,BRINLEY GOLD SHIPWRECK COCONUT RUM CREAM- 750ML,LIQUOR,1.51,0.0,0.0,inf
5349,2017,5,REPUBLIC NATIONAL DISTRIBUTING CO,10693,TAYLOR LAKE COUNTRY RED - 3L,WINE,6.75,2.0,0.0,inf
5350,2017,5,LEGENDS LTD,10696,FIRESTONE VARIETY - 2/12 12.OZ CAN,BEER,0.50,1.0,2.0,0.250